                <button type="button-hover" href="/shopping" class="shopping-cart-button float-right"
                    data-toggle="shopping-cart-dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="text">Shopping Cart</span>
                </button>
                <div class="shopping-cart-dropdown-pane">
                    <div class="dropdown-pane bottom " id="shopping-cart-dropdown" data-dropdown data-hover-pane="true">

                        <div class="shopping-cart-item">
                            <div class="shopping-cart-item-name">

                                <p> <span> $ 0.99 </span>      <span> KELLOGG CEREAL CUP CORN POPS</span> </p>
                                <a class="shopping-cart-title" href="/product/{{dataValues.id}}">Page</a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>
                            <div class="shopping-cart-item-name">
                                <p> <span> $ 2.99 </span>      <span> REESE BIG CUP 1.4OZ BAR</span> </p>
                                <a class="shopping-cart-title" href="/product/{{dataValues.id}}">Page</a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>
                        </div>
                        <div class="shopping-cart-item-name">

                                <p> <span> $ 0.79 </span>      <span> BK MARUCHAN RAMEN NOODLE CUP CHKN 2.25Z</span> </p>
                                <a class="shopping-cart-title" href="/product/{{dataValues.id}}">Page</a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>
                            <div class="shopping-cart-item-name">

                                <p> <span> $ 4.49 </span>      <span> ORE IDA TATOR TOTS 32 OZ</span> </p>
                                <a class="shopping-cart-title" href="/product/{{dataValues.id}}">Page</a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>
                            <div class="shopping-cart-item-name">

                                <p> <span> $ 2.99 </span>      <span> EGGO WAFFLE BUTTERMILK 10 CT</span> </p>
                                <a class="shopping-cart-title" href="/product/{{dataValues.id}}">Page</a>

                            </div>
                            <div class="shopping-cart-item-price">
                                <a href="#">Remove</a>

                            </div>

                        <a href="#" class="button shopping-cart-checkout expanded">Checkout</a>
                    </div>
