<div class="row columns">
        <nav>
            <ul class="breadcrumbs">
                <li onclick="location.href='/';"><a>back</a></li>
            </ul>
        </nav>
    </div>
<div class="row columns">
<h3>{{data.[0].dataValues.category}}</h3>
        <br>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {{#each data}}
    <tr>
      <th scope="row">{{dataValues.id}}</th>
      <td><img class="thumbnail" src="{{dataValues.image_src}}"></td>
      <td>{{dataValues.product_name}}</td>
      <td>{{dataValues.selling_price}}</td>
      <td><a href="/{{dataValues.id}}">Buy</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
